/* author: Jason Cheung */

/* Start NavBar */
.navbar {
  text-align: center;
  background-color: rgb(233, 221, 221);
  border: solid lightblue;
  margin-bottom: 1em;
  height: 1.6em;
}

.navbar a {
  margin: 1em;
  font-size: large;
}
/* End NavBar */

.container-wrapper {
  border: solid lightblue;
  background-color: lightcyan;
  padding-bottom: 4em;
}

/* Start Heading */
.heading h1 {
  text-align: center;
  padding: 0.2em;
  font-size: 4em;
}
/* End Heading */

/* Start SearchBar */
.wrapper {
  text-align: center;
  margin-right: 4em;
}

.search-bar input {
  height: 2em;
  width: 20em;
}

.wrapper select {
  height: 2.4em;
}

.wrapper button {
  position: absolute;
  font-size: 1.45em;
}
/* End SearchBar */

/* Start Display */
.meals {
  text-align: center;
  justify-content: center;
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 1em;
}

.meal img {
  height: 16em;
  width: 18em;
  border: 2px solid gray;
}

.meal h2 {
  font-size: 1.2em;
}

.bottom {
  height: 2em;
  width: 100%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* End Display */

.meal-info {
  background-color: rgb(233, 221, 221);
  font-weight: 700;
  margin-top: 1em;
  text-align: center;
  height: 4em;
  width: 12em;
  border: 3px solid rgb(97, 97, 221);
}
