/* author: Jason Cheung */

/* Start NavBar */
.navbar {
  text-align: center;
  background-color: rgb(233, 221, 221);
  border: solid lightblue;
  margin-bottom: 1em;
  height: 1.6em;
}

.navbar a {
  cursor: pointer;
  margin: 1em;
  font-size: large;
}
/* End NavBar */

/* Start Form */
.container-wrapper {
  text-align: center;
  border: solid lightblue;
  background-color: lightcyan;
  padding-bottom: 4em;
}

.heading h1 {
  padding: 0.2em;
  font-size: 4em;
}

.add-button {
  cursor: pointer;
}
/* End Form */

/* Start Display */
.total {
  text-align: center;
}

.entries {
  text-align: center;
}

.entry {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: solid black;
}

.entry:hover {
  background-color: red;
  cursor: pointer;
}

/* End Display */

.submit {
  cursor: pointer;
  text-align: center;
  margin-top: 2em;
  margin-bottom: 4em;
}
